<% provide(:titulo, "Apoderados") %>
<div class="btn-toolbar" role="toolbar">
  <div class="btn-group">
    <div class="btn btn-default"><%= link_to "Nuevo", "/nuevo_apoderado", id: "btn-nuevo" %></div>
    <div class="btn btn-default"><%= link_to "Listar", "/apoderados", id: "btn-listar" %></div>
  </div>
</div>
<br />
<br />

<div class = "sort_paginate_ajax"><%= render 'apoderados' %></div>