<% provide(:titulo, "Alumnos") %>
<div class="btn-toolbar" role="toolbar">
  <div class="btn-group">
    <div class="btn btn-default"><%= link_to "Nuevo", "/nuevo_alumno", id: "logo" %></div>
    <div class="btn btn-default"><%= link_to "Listar", "/alumnos", id: "logo" %></div>
  </div>
</div>
<br />
<br />

<div class = "sort_paginate_ajax"><%= render 'alumnos' %></div>