@import "bootstrap";

/* CSS used here will be applied after bootstrap.css */
.panel a {
  color:#777;
}

.panel a:hover {
 text-decoration:none;
 color:#222;
}

.panel .table td {
 border-color: #f3f3f3;
}

/* forms */
#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}