<!-- <div class="btn-group"> -->
  <button type="button" class="btn btn-default"><a href="/nuevo_apoderado">Nuevo</a></button>
  <button type="button" class="btn btn-default"><a href="/apoderados">Listar</a></button>
<!-- </div> -->